body{
    height: 100vh;
    display: grid;
    grid-template-rows: auto auto auto 1fr 50px;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas: 
    "navbar  navbar  navbar"
    "main    main    main"
    "footer  footer  footer";
    font-weight: 600;
    font-size: 20px;
}

header{
    grid-area: navbar;
}

main{
    grid-area: main;
    height: 100vh;
}

footer{
    grid-area: footer;
    text-align: center;
    color: var(--bg-primary
    );
}